.marginOut{
    padding: 15px;
    /* border: 2px solid black; */
    position: absolute;
    background: transparent;
    cursor: pointer;
}

.contentMenu{
    width: 11em;
    z-index: 20;
    padding: 10px;
    color: black;
    background-color: hsl(0, 0%, 91%, 70%);
    border: 1px solid #8f8f8f;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.contentMenu button{
    color: rgb(41, 41, 41);
    font-size: smaller;
    font-weight: normal;
    font-family: system-ui;
    background-color: hsla(0, 0%, 85%, 0.4);
    border: 1px solid rgb(92, 92, 92);
    border-radius: 4px;
    padding: 3px;
    position: relative;
    z-index: 1;
    box-shadow: inset 0px -3px 9px 1px rgb(58 58 58 / 50%);
}


.blank{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 80%;
    width: 100vw;
    height: 100vh;
}